footer {
  &.vertical-paddings {
    padding-bottom: 0;
  }

  .logo {
    height: 55px;
    margin: 0 auto 15px;
  }
  .icons {
    gap: 15px;
    padding-bottom: 25px;
  }
  .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eff6f1;
    img {
      max-height: 18px;
    }
  }

  p {
    text-align: center;
    font-size: 18px;
    line-height: 165%;

    &.description {
      margin-bottom: 30px;
    }

    &.copyright {
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: solid 1px #d4d4d4;
    }
  }
  ul {
    gap: 32px;
    padding-bottom: 70px;

    li {
      font-size: 18px;
      color: #525c60;
    }
  }
  .contact-us {
    padding-right: 50px;
    border-right: solid 1px #d4d4d4;
    width: 30%;
    ul {
      li {
        text-align: end;
      }
    }
  }
  .utility-pages {
    padding-left: 50px;
    border-left: solid 1px #d4d4d4;
    width: 30%;
    ul {
      li {
        text-align: start;
      }
    }
  }

  h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 32px;
  }

  @include onSmallDesktop {
    .logo {
      height: 40px;
    }

    p {
      font-size: 16px;

      &.description {
        margin-bottom: 20px;
      }
    }

    h3 {
      font-size: 24px;
    }

    ul {
      gap: 40px;
      padding-bottom: 50px;

      li {
        font-size: 16px;
      }
    }
    .contact-us {
      padding-right: 40px;
    }
    .utility-pages {
      padding-left: 40px;
    }
  }

  @include onLargeTablet {
    .logo {
      margin-bottom: 10px;
    }
    .icon {
      width: 50px;
      height: 50px;
    }

    p {
      font-size: 14px;

      &.description {
        margin-bottom: 15px;
      }
    }

    h3 {
      font-size: 20px;
    }

    ul {
      gap: 30px;
      padding-bottom: 40px;

      li {
        font-size: 14px;
      }
    }
    .contact-us {
      padding-right: 30px;
    }
    .utility-pages {
      padding-left: 30px;
    }
  }

  @include onSmallTablet {
    .container {
      flex-direction: column;
    }
    .contact-us,
    .utility-pages {
      width: 100%;
      padding: 0;
      padding-top: 25px;
      align-items: center;
      border-top: solid 1px #d4d4d4;
      border-right: none;
      border-left: none;
      ul {
        align-items: center;
        li {
          text-align: center;
        }
      }
    }
    .contact-us {
      order: 2;
    }
    .utility-pages {
      order: 3;
    }

    .logo {
      height: 30px;
      margin-top: 15px;
    }

    p {
      font-size: 13px;

      &.copyright {
        margin: 10px 0;
      }
    }

    h3 {
      margin-bottom: 5px;
    }

    ul {
      gap: 8px;
      padding-bottom: 25px;

      li {
        font-size: 13px;
      }
    }
  }
}
